[Unit]
Description=start julius by module mode.
After=wendy-io-api.sevice

[Service]
WorkingDirectory=/home/pi/WendyProject
ExecStart=/home/pi/WendyProject/juliusstart.sh
Restart=always
Type=simple
User=pi

[Install]
WantedBy=multi-user.target