[Unit]
Description=voice recognition system for WENDY
After=julius-for-wendy.sevice

[Service]
WorkingDirectory=/home/pi/WendyProject
ExecStart=/home/pi/WendyProject/wakeup.py
Restart=always
Type=simple
User=pi

[Install]
WantedBy=multi-user.target
